@import "tailwindcss";
@import "@nuxt/ui";

@media print {
  aside,
  header,
  nav,
  .no-print {
    display: none !important;
  }

  body, html, main {
    overflow: visible !important;
    height: auto !important;
    background: #ffffff !important;
    color: #000000 !important;
  }

  .print-only {
    display: block !important;
  }
}

.print-only {
  display: none;
}
